<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/user_profile.css" />
    <script src="static/js/user_profile.js" defer></script>
    <title>Document</title>
    
  </head>

  <body>
    <div class="sidebar">
      <a href="#" class="logo"
        ><i class="bx bx-trip"></i>
        <div class="logo-name"><span>Travel</span>Tracer</div>
      </a>

      <ul class="side-menu">
        <li class="active">
          <a onclick="toggleDivs(['profile','settings','friends','achievements','visited'])"><i class="bx bx-user"></i>Profile</a>
        </li>
        <li>
          <a onclick="toggleDivs(['visited','settings','friends','profile','achievements'])"><i class="bx bx-been-here"></i>Visited</a>
        </li>
        <li>
          <a onclick="toggleDivs(['achievements','settings','friends','profile','visited'])"><i class="bx bx-star"></i>Achievements</a>
        </li>
        <li>
          <a onclick="toggleDivs(['friends','settings','achievements','profile','visited'])"><i class="bx bx-face"></i>Friends</a>
        </li>
        <li>
          <a onclick="toggleDivs(['settings','achievements','friends','profile','visited'])"><i class="bx bx-cog"></i>Settings</a>
        </li>
      </ul>

      <ul class="side-menu">
        <li>
          <a href="{{ url_for('reglog.logout') }}" class="logout">
            <i class="bx bx-log-out"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>


    <div class="content">
      <nav>
        <button class="bx bx-menu-alt-left"></button>
        <h3>Menu</h3>
      </nav>
      <!-- Profile -->
      <div id="profile" class="content_info_start">
        <p>Profile div</p>
      </div>
      <!-- Visited -->
      <div id="visited" class="content_info">
        <p>visited div</p>
      </div>
      <!-- Achievements -->
      <div id="achievements" class="content_info">
        <p>Achievemtns div</p>
      </div>
      <!-- Friends -->
      <div id="friends" class="content_info">
        <p>Friends div</p>
      </div>
      <!-- Settings -->
      <div id="settings" class="content_info">
        <p>Settings div</p>
        <button onclick="toggleDivs(['changepassword','changeusername'])">Change Password</button>
        <button onclick="toggleDivs(['changeusername','changepassword'])">Change Username</button>
        <div id="changepassword" class="content_info">
          <p>ChnagePassword</p>
            <form action="{{ url_for('user_profile.user_profileMain') }}" method="post">
              {{ changePassForm.csrf_token }}
              {{ changePassForm.oldPassword.label }} {{ changePassForm.oldPassword() }} <br>
              {{ changePassForm.newPassword.label }} {{ changePassForm.newPassword() }}  <br>
              {{ changePassForm.verifyNewPassword.label }} {{ changePassForm.verifyNewPassword() }} <br>
              {{ changePassForm.submitPasswordChange() }} 
              
            </form>
        </div>
        <div id="changeusername" class="content_info">
          <p>Change Username</p>
            <form action="{{ url_for('user_profile.user_profileMain') }}" method="post">
              {{ changeUserForm.csrf_token }}
              {{ changeUserForm.newUsername.label }} {{ changeUserForm.newUsername() }} <br>
              {{ changeUserForm.newFirstName.label }} {{ changeUserForm.newFirstName() }} <br>
              {{ changeUserForm.newLastName.label }} {{ changeUserForm.newLastName() }} <br>
              {{ changeUserForm.password.label }} {{ changeUserForm.password() }} <br>
              {{ changeUserForm.submitUsernameChange() }}
            </form>
        </div>
      </div>
    </div>
  
 

  


   
  
  </body>
  
</html>
