{% extends "base.html" %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="/reglog/static/css/email_sent.css"
/>
{% endblock %} 

{% block title %} {{ tab_title }} {% endblock %} 

{% block content %}
<div id="img-background"></div>
<div id="dark-overlay"></div>

<div class="email-sent-container">
  <h1>{{ title }}</h1>

  <img src="/reglog/static/images/email-icon.png" alt="email" />

  <p id="message">{{ message }}</p>

  <a href="{{ link }}" class="resend-button">{{ link_title }}</a>
  <a href="{{ url_for('reglog.login') }}" class="back-button">Back to login</a>
</div>
{% endblock %}
