{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="/reglog/static/css/email_sent.css"
/>
{% endblock %} {% block title %}Email verification{% endblock %} {% block
content %}
<div id="img-background"></div>
<div id="dark-overlay"></div>

<div class="email-sent-container">
  <h1>{{ title }}</h1>

  <p>{{ message }}</p>

  <a href="{{ link }}" class="resend-button">{{ link_title }}</a>
  <a href="url_for('index')" class="back-button">Back</a>
</div>
{% endblock %}
