{% extends "base.html" %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('.static', filename='css/login.css') }}"
/>
{% endblock %} 

{% block content %}
<div id="dark-overlay"></div>

<div id="img-background"></div>

<div class="center">
  <h1>Welcome</h1>

  <form class="login-form" action="{{ url_for('reglog.login') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="inputbox">
      <input
        type="email"
        required="required"
        name="email"
        autocomplete="off"
        value="{{ login.email.data if login.email.data is not none else '' }}"
      />
      <span>Email</span>
    </div>

    <div class="inputbox">
      <input
        type="password"
        required="required"
        name="password"
        autocomplete="off"
        value=""
      />
      <span>Password</span>
    </div>

    <div class="inputbox">
      <input type="submit" value="submit" />
    </div>
  </form>

  <a href="{{ url_for('reglog.password_recovery') }}" target="_self" class="password-recovery"
    >Reset password</a
  >

  <a href="{{ url_for('reglog.sign_up') }}" target="_self" class="sign-up"
    >Don't have an account? Click here</a
  >

  <ul>
    {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
