{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('.static', filename='css/password_recovery.css') }}"
/>
{% endblock %} {% block content %}
<div id="dark-overlay"></div>

<div id="img-backgroud"></div>

<div class="center">
  <h1>Password Recovery</h1>

  {% if uuid is not none %}

    <p> Please enter your new password. </p>

    <form class="password-recovery-form" action="{{ url_for('reglog.password_recovery_verify', uuid=uuid) }}" method="post">

      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <input type="hidden" name="uuid" value="{{ uuid }}" />

      <div class="inputbox">
        <input
          type="password"
          required="required"
          name="password"
          autocomplete="off"
        />
        <span>Password</span>
      </div>

      <div class="inputbox">
        <input
          type="password"
          required="required"
          name="password_confirmation"
          autocomplete="off"
        />
        <span>Confirm Password</span>
      </div>

      <div class="inputbox">
        <input type="submit" value="submit" />
      </div>

      <div class="inputbox">
        <a href="{{ url_for('reglog.login') }}">Back to login</a>
      </div>

    </form>

  {% else %}

    <h4> Enter your email to reset password </h4>

    <form class="password-recovery-email-form" action="{{ url_for('reglog.password_recovery') }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <div class="inputbox">
        <input
          type="email"
          required="required"
          name="email"
          autocomplete="off"
        />
        <span>Email</span>
      </div>

      <div class="inputbox">
        <input type="submit" value="Reset Password" />
      </div>

      <div class="cancel-button">
        <a href="{{ url_for('reglog.login') }}">Cancel</a>
      </div>

    </form>

  {% endif %}

  <ul>
    {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
