{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('.static', filename='css/signup.css') }}"
/>
{% endblock %} {% block content %}
<div id="dark-overlay"></div>

<div id="img-backgroud"></div>

<div class="center">
  <form class="sign-up-form" action="{{ url_for('reglog.sign_up') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="inputbox">
      <input
        type="email"
        required="required"
        name="email"
        value="{{ form.email.data if form.email.data is not none else '' }}"
      />
      <span>Email</span>
    </div>

    <div class="inputbox">
      <input
        type="password"
        required="required"
        name="password"
        value="{{ form.password.data if form.password.data is not none else '' }}"
      />
      <span>Password</span>
    </div>

    <div class="inputbox">
      <input
        type="password"
        required="required"
        name="verify_password"
        value="{{ form.verify_password.data if form.verify_password.data is not none else '' }}"
      />
      <span>Verify password</span>
    </div>

    <div class="inputbox">
      <input
        type="text"
        required="required"
        name="username"
        value="{{ form.username.data if form.username.data is not none else '' }}"
      />
      <span>Username</span>
    </div>

    <div class="inputbox">
      <input
        type="text"
        required="required"
        name="first_name"
        value="{{ form.first_name.data if form.first_name.data is not none else '' }}"
      />
      <span>First name</span>
    </div>

    <div class="inputbox">
      <input
        type="text"
        required="required"
        name="last_name"
        value="{{ form.last_name.data if form.last_name.data is not none else '' }}"
      />
      <span>Last name</span>
    </div>

    <div class="inputbox">
      <input type="submit" value="submit" />
    </div>
  </form>

  <p>
    We promise only ever to use your <br />personal information in a legitimate
    way
  </p>

  <ul>
    {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
