html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

#hero {
    height: 20vh;
    color: white;
    position: relative;
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul a {
    text-decoration: none;
    color: white;
}

.btn {
    color: white;
    background-color: #60c79a;
    display: inline-block;
    padding: .75rem 1.5rem;
    border-radius: 10em;
    border: 1px solid #60c79a;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: #151618;
    border-color: #151618;
}

.buttons:hover {
    color: #60c79a;
}

@media screen and (max-width: 768px) {
    .nav-container {
        padding: 2rem 0;
        width: 90%; /* Adjust container width */
    }
    nav ul {
      flex-direction:column; /* Stack navigation items vertically */
      gap: 1rem; /* Reduce gap between navigation items */
    }
}


