* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#popup-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

#popup {
  width: 40%;
  margin: 0 auto;
  margin-top: 20%;
  padding: 10px;
  border-radius: 20px;
  background: white;
}

#popup .close-button {
  float: right;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#popup .close-button::before,
#popup .close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: black;
  transform: translate(-50%, -50%);
}

#popup .close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#popup .close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#popup h1 {
  text-align: center;
}

#popup .button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

#popup .button-container .button-dislike {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#popup .button-container .button-dislike:hover {
  background-color: darkred;
}

#popup .button-container .button-like {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#popup .button-container .button-like:hover {
  background-color: darkgreen;
}

a {
  text-decoration: none;
}

:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
}

.bx {
  font-size: 1.7rem;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light);
  width: 230px;
  height: 100%;
  z-index: 2000;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.close {
  width: 0px;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--primary);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.sidebar .logo .logo-name span {
  color: var(--dark);
}

.sidebar .logo .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

.sidebar .side-menu i {
  margin-right: 15px;
}

.sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

.sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

.sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.sidebar .side-menu li.active a {
  color: var(--success);
}

.sidebar.close .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx {
  min-width: cal(60px - ((4px + 6px) * 2));
  display: flex;
  font-size: 1.6em;
  justify-content: center;
}

.sidebar .side-menu li a .logout {
  color: var(--danger);
}

.content {
  position: relative;
  width: calc(100% - 0px);
  left: 0px;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

.sidebar.close ~ .content {
  width: calc(100% - 0px);
  left: 0px;
}

.content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px 0 0;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: hidden;
}

.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
}

.content nav .bx.bx-menu-alt-left {
  cursor: pointer;
  color: var(--dark);
  align-items: center;
}

.content nav h3 {
  padding: 0;
  margin-left: -15px;
  position: absolute;
  top: 15px;
  left: 50px;
  font-size: 1.5rem;
}

.home-button {
  color: var(--dark);
  text-decoration: none;
  position: absolute;
  top: 15px;
  right: 40px;
  font: 1.2rem bold;
  justify-content: center;
}

.bx.bx-home-alt {
  position: absolute;
  top: -5px;
  left: 55px;
}

.content_info {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.content_info_start {
  display: block;
  border: 1px solid #ccc;
  position: 100;
  top: 50%;
  text-align: center;
  width: 10;
  margin: auto;
  border: 3px solid green;
  padding: 50px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture-container {
  position: relative;
}

.profile-picture-label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 90px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.profile-info .profile-picture-label p {
  margin: 0;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.profile-picture {
  /* max-width: 200px; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  border-width: 5px;
  border-style: solid;
  padding: 5px;
  display: block;
}

.profile-info h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 1rem;
}

/* ----------------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border: hidden;
  border-radius: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 30px;
  width: 30%; /* Could be more or less, depending on screen size */
  gap: 10px;
}

/* The Close Button */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.alert-hidden {
  opacity: 0;
  padding: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: all ease-in-out 0.3s;
}

.modal-button {
  font-size: 1rem;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-button#changePassword {
  background-color: #4caf50;
  color: white;
}

.modal-button#changeUsername {
  background-color: #008cba;
  color: white;
}

.modal-button#changePrivacySettings {
  background-color: #fbc02d;
  color: white;
}

.modal-button:hover {
  opacity: 0.8;
  padding: 12px 16px;
}

#profile-body-friends {
  margin: 20px 20px 0 20px;
  padding: 0;
  margin-bottom: -20px;
  background-color: white;
  border-radius: 5px;
}

#friends {
  background-color: transparent;
}

.send-friend-request-div {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.send-friend-request-input {
  margin-right: 20px;
  padding: 10px 25px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.send-friend-request-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.send-friend-request-button:hover {
  background-color: #0056b3;
  color: white;
  text-decoration: none;
}

.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
}


.table .col_1 {
  width: 9%;
}

.table .col_2 {
  width: 16%;
}

.table .col_3 {
  width: 20%;
}

.table .col_4 {
  width: 35%;
}

.table .col-1 {
  width: 15%;
}

.table .col-2 {
  width: 30%;
}

.table .col-3 {
  width: 20%;
}

.table .col-4 {
  width: 20%;
}

.table .col-5 {
  width: 15%;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .username-data {
  color: #007bff;
}

.table .accept-button,
.table .decline-button,
.table .remove-button {
  color: #fff;
  background-color: #007bff;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
}

.table .decline-button,
.table .remove-button {
  background-color: #dc3545;
}

.table .accept-button:hover {
  background-color: #0056b3;
}

.table .decline-button:hover,
.table .remove-button:hover {
  background-color: #c82333;
}

.profile-navbar {
  background: white !important;
  z-index: 1 !important;
}

.profile-navbar .profile-nav-button {
  background: white;
  border: none;
}

.profile-navbar .profile-nav-button-active {
  color: green;
  border-bottom: 2px solid green;
}

.achievement-container {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background: white;
}

.achievement-container h2 {
  text-align: center;
}

.achievement-container .achievements-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
}

.achievement-container .achievements-row .achievement-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achievement-container .achievements-row .achievement-box .achievement-level {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 3px auto;
}

.achievement-container .achievements-row .achievement-box .achievement-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 3px auto;
}

.achievement-container
  .achievements-row
  .achievement-box
  .achievement-icon-container {
  position: relative;
}

.achievement-container
  .achievements-row
  .achievement-box
  .achievement-icon-container
  .achievement-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 95px;
  left: 85px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.achievement-container
  .achievements-row
  .achievement-box
  .achievement-icon-container
  .achievement-counter
  p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.achievement-container
  .achievements-row
  .achievement-box
  .achievement-icon-container
  img {
  width: 128px;
  height: 128px;
  padding: 5px;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}

.wishlist-container,
.visited-list-container {
  margin: 20px 20px 0 20px;
  padding: 20px;
  border-radius: 5px;
  background: white;
}

.navbar-tab-label {
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #787878;
}

.wishlist-container .sight-photo,
.visited-list-container .sight-photo {
  width: 400px;
  height: 300px;
  border-radius: 15px;
}

.sight-container {
  padding: 60px 60px;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  display: flex;
}

.sight-container .sights {
  display: flex;
  justify-content: center;
  gap: 5vh;
  flex-wrap: wrap;
}

.sight-container .sights .sight-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-in-out;
}

.sight-container .sights .sight-link:hover {
  transform: scale(1.05);
}

.sight-container .sight-link-inactive:hover {
  cursor: initial;
}

.sight-container .sights .sight-item {
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  backdrop-filter: blur(10px);
  border: hidden;
  border-radius: 15px;
}

.sight-container .sights .sight-item {
  background: rgba(200, 200, 200, 0.5);
}

.sight-container .sights .sight-item-inactive {
  background: rgba(120, 120, 120, 0.5);
}

.sight-container .sights .sight-item h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.sight-container .sights .sight-item .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sight-container .sights .sight-item .info h5 {
  font-size: 18px;
  font-weight: 400;
  margin: 2px 5px;
  color: #585858;
}

.sight-container .sights .sight-item h5 .sight-type {
  margin-right: 5px;
  padding: 3px;
  border-radius: 5px;
  color: #333;
  background-color: #858585;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-container .bn {
  width: 8em;
  height: 3em;
}

.button-container .pagination-button {
  width: 3em;
  height: 3em;
}

.button-container .pagination-button-active {
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  .modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 90%;
    box-sizing: border-box;
  }

  .close-modal {
    font-size: 1.2rem;
  }

  .modal-button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

.remove-from-wishlist,
.mark-as-visited {
  display: flex;
  align-content: center;
  text-decoration: none;
}

.remove-from-wishlist:hover,
.mark-as-visited:hover {
  text-decoration: none;
}

.remove-from-wishlist {
  color: #bb2e3c;
  font-size: 14px;
}

.remove-from-wishlist:hover {
  color: #eb485b;
}

.mark-as-visited {
  color: #388e3c;
  font-size: 14px;
}

.mark-as-visited:hover {
  color: #4caf50;
}

.bx-like {
  color: #388e3c;
}

.bx-dislike {
  color: #d32f2f;
}
