<!-- referanse: https://codepen.io/Metty/pen/NWpzexj -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('.static', filename='/css/edit_sight.css') }}"
    />
    <title>Add sight</title>
  </head>

  <body>
    <div class="container">
      <div class="text">
        Add sight
      </div>
      <form action="{{ url_for('admin.add_sight') }}" method="post" enctype="multipart/form-data">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

         <div class="form-row">
            <div class="input-data">
               <input type="text" name="sight_name">
               <div class="underline"></div>
               <label for="">Sight name</label>
            </div>
            <div class="input-data">
               {{ edit_sight_form.active(checked = True) }}
               <label for="">Active</label>
            </div>
         </div>

          <div class="form-row">
            
            
            <div class="input-data">
               {{ edit_sight_form.age_category_id() }}
               <div class="underline"></div>
               
            </div>
            
            <div class="input-data">
               <input type="hidden" name="old_sight_type">
               {{ edit_sight_form.sight_type() }}
               <div class="underline"></div>
               
               
            </div>
         </div>
         <div class="form-row">
            <div class="input-data">
               <input type="text" name="address" >
               <div class="underline"></div>
               <label for="">Address</label>
            </div>
            <div class="input-data">
               <input type="text" name="google_maps_url" >
               <div class="underline"></div>
               <label for="">Google maps url</label>
            </div>
         </div>

         <div class="form-row">
            <div class="input-data">
               <input type="text" name="open_time" >
               <div class="underline"></div>
               <label for="">Open time</label>
            </div>
            <div class="input-data">
               <input type="text" name="close_time" >
               <div class="underline"></div>
               <label for="">Close time</label>
            </div>
            <div class="input-data">
               {{ edit_sight_form.image() }}
               <div class="underline"></div>
               <label for="">Upload Images</label>
            </div>
         </div>

         <div class="form-row">
         <div class="input-data textarea">
            <textarea rows="8" cols="80" name="description"></textarea>
            <br />
            <div class="underline"></div>
            <label for="">Description</label>
            <br />
            <div class="form-row submit-btn">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="submit" value="submit">
               </div>

               <a href="{{ url_for('admin.admin_main') }}" class="back-button">Back</a>
            </div>
         </div>
      </form>

      <ul>
         {% for message in get_flashed_messages() %}
         <li>{{ message }}</li>
         {% endfor %}
      </ul>
   </div>
  </body>
</html>
