<!-- referanse: https://codepen.io/Metty/pen/NWpzexj -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('.static', filename='/css/edit_sight.css') }}"
    />
    <title>Add sight</title>
  </head>

  <body>
    <div class="container">
      <div class="text">
        Add sight
      </div>
      <form action="{{ url_for('admin.add_sight') }}" method="post" enctype="multipart/form-data">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

         <div class="form-row">
            <div class="input-data">
               <input type="text" name="sight_name" value="{{ edit_sight_form.sight_name.data if edit_sight_form.sight_name.data else '' }}">
               <div class="underline"></div>
               <label for="">Sight name</label>
               {% for error in edit_sight_form.sight_name.errors %}
                  <div class="input-errors"> {{ error }}</div>
               {% endfor %}
            </div>
            
            <div class="input-data">
               {{ edit_sight_form.active() }}
               <label for="">Active</label>
            </div>
         </div>

          <div class="form-row">
            <div class="input-data">
               <div ><label style=" color: #3498db; font-size: 14px;" for="">Age Category</label> </div> <br>
               {{ edit_sight_form.age_category_id() }}
            </div>
            
            <div class="input-data">
               <input type="hidden" name="old_sight_type">
               <div ><label style=" color: #3498db; font-size: 14px;" for="">Category</label> </div> <br>
               {{ edit_sight_form.sight_type() }}
            </div>
         </div>
        
         <div class="form-row">
            <div class="input-data">
               <input type="text" name="address" value="{{ edit_sight_form.address.data if edit_sight_form.address.data else '' }}">
               <div class="underline"></div>
               <label for="">Address</label>
               {% for error in edit_sight_form.address.errors %}
                  <div class="input-errors"> {{ error }}</div>
               {% endfor %}
            </div>

            <div class="input-data">
               {{ edit_sight_form.google_maps_url() }}
               <div class="underline"></div>
               <label for="">Google maps url</label>
            </div>
         </div>

         <div class="form-row">
            <div class="input-data">
               {{ edit_sight_form.open_time() }}
               <div class="underline"></div>
               <label for="">Open time</label>
               {% for error in edit_sight_form.open_time.errors %}
                  <div class="input-errors"> {{ error }}</div>
               {% endfor %}
         
            </div>
            
            <div class="input-data">
               {{ edit_sight_form.close_time() }}
               <div class="underline"></div>
               <label for="">Close time</label>
               {% for error in edit_sight_form.close_time.errors %}
                  <div class="input-errors"> {{ error }}</div>
               {% endfor %}
         
            </div>
            
            <div class="input-data">
               {{ edit_sight_form.image() }}
               <div class="underline"></div>
               <label for="">Upload Images</label>
            </div>
         </div>

         <div class="form-row">
            <div class="achievements-container">
               <h5>{{ achievement_sight_form.achievements.label }}</h5>
               <ul>
                  {% for selected, id in achievement_sight_form.achievements.choices %}
                     <ul><input type="checkbox" name="achievements" {{ 'checked' if selected == True }} value="{{ id[0] }}"> {{ id[1] }}</ul>
                  {% endfor %}
               </ul>
            </div>
         </div>

         <div class="form-row">
         <div class="input-data textarea">
            {{ edit_sight_form.description() }}
            <div class="underline"></div>
            <label for="">Description</label>
            <br />
            <div class="form-row submit-btn">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="submit" value="submit">
               </div>

               <a href="{{ url_for('admin.admin_main') }}" class="back-button">Back</a>
            </div>
         </div>
      </form>

      <ul>
         {% for message in get_flashed_messages() %}
         <li>{{ message }}</li>
         {% endfor %}
      </ul>
   </div>
  </body>
</html>