<!-- referanse: https://codepen.io/Metty/pen/NWpzexj -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('.static', filename='/css/edit_sight.css') }}"
    />
    <title>Edit sight</title>
    <script src="{{ url_for('.static', filename='js/edit_sight.js') }}" defer></script>
  </head>

  <body>
    <div class="container">
      <div class="text">
        Edit sight
      </div>
      <form action="{{ url_for('admin.edit_sight', sight_id=sight_id ) }}" method="post" enctype="multipart/form-data">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

         <div class="form-row">
            <div class="input-data">
               <input type="text" name="sight_name" value="{{ sight.name if sight.name else '' }}">
               <div class="underline"></div>
               <label for="">Sight name</label>
            </div>
            <div class="input-data">
               {{ edit_sight_form.active(checked = sight.active) }}
               <label for="">Active</label>
            </div>
         </div>

         <div class="form-row">
            
            
            <div class="input-data">
               {{ edit_sight_form.age_category_id() }}
               <div class="underline"></div>
               
            </div>
            
            <div class="input-data">
               <input type="hidden" name="old_sight_type" value="{{ sight.sight_type_id if sight.sight_type_id else '' }}">
               {{ edit_sight_form.sight_type() }}
               <div class="underline"></div>
               
               
            </div>
         </div>
         <div class="form-row">
            <div class="input-data">
               <input type="text" name="address" value="{{ sight.address if sight.address else '' }}">
               <div class="underline"></div>
               <label for="">Address</label>
            </div>
            <div class="input-data">
               <input type="text" name="google_maps_url" value="{{ sight.google_maps_url if sight.google_maps_url else '' }}">
               <div class="underline"></div>
               <label for="">Google maps url</label>
            </div>
         </div>

         <div class="form-row">
            <div class="input-data">
               <input type="text" name="open_time" value="{{ sight.open_time.strftime('%H:%M') if sight.open_time is not none else '' }}">
               <div class="underline"></div>
               <label for="">Open time</label>
            </div>
            <div class="input-data">
               <input type="text" name="close_time" value="{{ sight.close_time.strftime('%H:%M') if sight.close_time is not none else '' }}">
               <div class="underline"></div>
               <label for="">Close time</label>
            </div>
            <div class="input-data">
               {{ edit_sight_form.image() }}
               <div class="underline"></div>
               <label for="">Upload Images</label>
            </div>
         </div>
         <div class="form-row">
         <div class="input-data textarea">
            <textarea rows="8" cols="80" name="description">{{ sight.description if sight.description else '' }}</textarea>
            <br />
            <div class="underline"></div>
            <label for="">Description</label>
            <br />
            <div class="form-row submit-btn">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="submit" value="submit">
               </div>

               <a href="{{ url_for('admin.admin_main') }}" class="back-button">Back</a>
            </div>
         </div>
         </div>
      </form>

      
      <ul>
          {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
    </div>


    <!--<form action="{{ url_for('admin.delete_image', sight_id=sight_id, image_path=photo ) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>-->
    <div class="container">
        <form action="{{ url_for('admin.update_image_order', sight_id=sight_id ) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="ms-boxes re-order-boxes">
                <label style="padding-top: 40px;" for="Text-Field-2" class="ms-input-label">Drag to re-order images</label>
                {% for photo in sight["photos"] %}
                    <div draggable="true" class="ms-box re-order-boxes" style="width: 250px;">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                                <path d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                            </svg>
                        </div>
                        <img draggable="false" style="width: 200px; height: 200px;" src="/static/images/sight/{{ photo }}"></img>
                        <div hidden data-value="true">{{ photo }}</div>
                       
                    </div>
                {% endfor %}
            </div>
            <input name="image_order" id="image_order" type="text" data-input="drag-order">
            <input type="submit" value="Save image order" data-wait="Please wait...">
        </form>
    </div>
    
  </body>
</html>
