<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/base.css') }}"
    />

    <script src="{{ url_for('static', filename='js/lib/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mobile_menu.js') }}"></script>

    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    {% block popup %} {% endblock %}

    <section id="hero">
      <div class="nav-container" id="nav">
        <header>
          <a href="{{ url_for('index') }}" target="_self"
            ><img
              src="{{ url_for('static', filename='images/TravelTracer.png') }}"
              alt="logo"
              height="50"
              width="200"
          /></a>

          <nav>
            <ul>
              <li>
                <div class="paste-button">
                  <button class="button">Change language &nbsp; ▼</button>
                  <div class="dropdown-content">
                    <a id="top" href="#">English</a>
                    <a id="middle" href="#">Bokmål</a>
                    <a id="bottom" href="#">Suomi</a>
                  </div>
                </div>
              </li>

              {% if admin %}
              <li>
                <a
                  href="{{ url_for('admin.admin_main') }}"
                  target="_self"
                  class="buttons"
                  >Admin page</a
                >
              </li>
              {% endif %}

              <li>
                <a
                  href="{{ url_for('sight.sights') }}"
                  target="_self"
                  class="buttons"
                  >Sights</a
                >
              </li>
              <li>
                <a href="#" target="_self" class="buttons">Find Friends</a>
              </li>
              <li>
                <a
                  href="{{ url_for('user_profile.user_profileMain') }}"
                  target="_self"
                  class="buttons"
                  >My Profile</a
                >
              </li>

              {% if current_user.is_authenticated %}
              <li>
                <a
                  href="{{ url_for('reglog.logout') }}"
                  target="_self"
                  class="btn"
                  >Log out</a
                >
              </li>
              {% else %}
              <li>
                <a
                  href="{{ url_for('reglog.login') }}"
                  target="_self"
                  class="btn"
                  >Log in</a
                >
              </li>
              {% endif %}
              <li>
                <a
                  href="javascript:void(0);"
                  class="icon"
                  onclick="myFunction()"
                >
                  <i class="fa fa-bars"></i>
                </a>
              </li>
            </ul>
          </nav>
        </header>

        {% block container %}{% endblock %}
      </div>
    </section>

    {% block content %}{% endblock %}
  </body>
</html>
