{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div id="dark-overlay"></div>

    <div id="img-backgroud"></div>

    <div class="center">
        <h1>Welcome</h1>

        <form class="login-form" action="{{ url_for('login') }}" method="post">
          <div class="inputbox">
            <input type="email" required="required" name="email">
            <span>Email</span>
          </div>

          <div class="inputbox">
            <input type="text" required="required" name="password">
            <span>Password</span>
          </div>

          <div class="inputbox">
            <input type="button" value="submit">
          </div>
        </form>

        <a href="{{ url_for('sign_up') }}" target="_self" class="sign-up">Don't have an account? Click here</a>
    </div>
{% endblock %}