{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('.static', filename='css/sights.css') }}"
/>
{% endblock %} {% block title %} Sights {% endblock %} {% block content %}
<div id="dark-overlay"></div>

<div id="img-backgroud"></div>

{% for i in range(0, sights|length, 3) %}

  {% if i < 9 %}
    <div class="container">
      <div class="sights">

        {% for sight in sights[i:i+3] %}
          <div class="sight-item">
            <h3> {{ sight.name }} </h3>
            <div class="info">
              <h5>05 Mar 2024</h5>
              <h5>|</h5>
              <h5>Tromsobadet</h5>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate enim
              ad distinctio at quos sequi voluptatibus eveniet facere dicta ut illum
              atque, rem autem, impedit ea. Pariatur assumenda architecto quidem.
            </p>
          </div>
        {% endfor %}

      </div>
    </div>
  {% endif %}
  
{% endfor %}

<div class="button-container">
  <button class="bn">Previous</button>

  <button class="bn">Next</button>
</div>

{% endblock %}
