{% extends "base.html" %} 

{% block head %}
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('.static', filename='css/sight.css') }}"
/>

<script src="{{ url_for('.static', filename='js/toggle-description.js') }}"></script>
<script src="{{ url_for('.static', filename='js/popup.js') }}"></script>
<script src="{{ url_for('.static', filename='js/toggle-images.js') }} "> </script>
{% endblock %} 

{% block title %} {{ sight.name }} {% endblock %}

{% block popup %}
  <div id="popup-background">

    <div id="popup">

      <div> <button class="close-button" onclick="closePopup('{{ url_for('sight.add_to_visited_list', sight_id=sight.id, next=url_for('sight.sight_details', sight_id=sight.id)) }}')"> </button> </div>

      <h1> Did you like this place? </h1>

      <div class="button-container">

        <a href="{{ url_for('sight.add_to_visited_list', sight_id=sight.id, liked='0', next=url_for('sight.sight_details', sight_id=sight.id)) }}">
          <button class="button-dislike"> No </button>
        </a>

        <a href="{{ url_for('sight.add_to_visited_list', sight_id=sight.id, liked='1', next=url_for('sight.sight_details', sight_id=sight.id)) }}">
          <button class="button-like"> Yes </button>
        </a>

      </div>
    
    </div>

  </div>
{% endblock %}

{% block content %}
<div id="img-backgroud"></div>

<div class="header">
  <h1>{{ sight.name }}</h1>
  <div class="header-buttons">

    {% if current_user.is_authenticated %}

      {% if in_visited_list %}
        <a class="header-button" id="visited-button" disabled>Visited</a>
      {% else %}

        <a class="header-button" onclick="openPopup();">Mark as visited</a>

        {% if in_wishlist %}
          <a class="header-button" id="wishlist-button-added" href="{{ url_for('sight.remove_from_wishlist', sight_id=sight.id, next=url_for('sight.sight_details', sight_id=sight.id)) }}"> Remove from wishlist <i class="bx bx-heart"></i></a>
        {% else %}
          <a class="header-button" id="wishlist-button" href="{{ url_for('sight.add_to_wishlist', sight_id=sight.id, next=url_for('sight.sight_details', sight_id=sight.id)) }}"> Add to wishlist <i class="bx bx-heart"></i></a>
        {% endif %}

      {% endif %}

    {% else %}

      <a class="header-button" href="{{ url_for('reglog.login') }}">Visited</a>

      <a
        class="header-button"
        id="wishlist-button"
        href="{{ url_for('reglog.login') }}"
        >Add to wishlist <i class="bx bx-heart"></i
      ></a>

    {% endif %}

  </div>
</div>

<div class="statistic">
  {% if sight_statistic %}
    {% if sight_statistic.liked %}
      {% if sight_statistic.liked == "0" %}
      <p><i class='bx bx-like'></i> None</p>
      {% elif sight_statistic.liked == "1" %}
      <p><i class='bx bx-like'></i> {{ sight_statistic.liked }} person</p>
      {% else %}
      <p><i class='bx bx-like'></i> {{ sight_statistic.liked }} persons</p>
      {% endif %}
    {% endif %}

    {% if sight_statistic.disliked %}
      {% if sight_statistic.disliked == "0" %}
      <p><i class='bx bx-dislike'></i> None</p>
      {% elif sight_statistic.disliked == "1" %}
      <p><i class='bx bx-dislike'></i> {{ sight_statistic.disliked }} person</p>
      {% else %}
      <p><i class='bx bx-dislike' ></i> {{ sight_statistic.disliked }} persons</p>
      {% endif %}
    {% endif %}
  {% endif %}
</div>

<div class="image-container">
  <button onclick="prevImage()" class="button-left">
    <div class="arrow-wrapper-left">
      <div class="arrow-left"></div>
    </div>
    Prev
  </button>

  <img id="image1" src="" alt="Image" />
  <img id="image2" src="" alt="Image" />

  <button onclick="nextImage()" class="button-right">
    Next
    <div class="arrow-wrapper-right">
      <div class="arrow-right"></div>
    </div>
  </button>
</div>

<div class="content">
  <div class="text">
    <h3>
      <img
        src="{{ url_for('.static', filename='images/information.svg') }}"
        alt="info"
        height="20"
        width="20"
      />
      About
    </h3>

    <p class="sight-description">
      {% if sight.description is not none %} {{ sight.description }}
      <span class="sight-description-gradient-container">
        <button class="sight-description-button" onclick="toggleDescription();">
          ...Show more
        </button>
      </span>
      {% else %} No description {% endif %}
    </p>

    <p>
      <img
        src="{{ url_for('.static', filename='images/ages.svg') }}"
        alt="ages"
        height="20"
        width="20"
      />
      {{ sight.age_category }}
    </p>

    <p>
      <img
        src="{{ url_for('.static', filename='images/star.svg') }}"
        alt="star"
        height="20"
        width="20"
      />
      {% if sight.achievements %} Achievements: {% for achievement in
      sight.achievements %}
      <img
        src="{{ url_for('static', filename='images/achievement/' + achievement.icon) }}"
        alt="{{ achievement.name }}"
        title="{{ achievement.name }}"
        height="36"
        width="36"
      />
      {% endfor %} {% else %} No achievements {% endif %}
    </p>
    <p>
      <img
        src="{{ url_for('.static', filename='images/clock.svg') }}"
        alt="clock"
        height="20"
        width="20"
      />
      Opening hours: {% if sight.open_time is none or sight.close_time is none
      %} 24/7 {% else %} {{ sight.open_time.strftime('%H:%M') }} - {{
      sight.close_time.strftime('%H:%M') }} {% endif %} {% if is_open %}
      <span class="open">Open</span>
      {% else %}
      <span class="close">Closed</span>
      {% endif %}
    </p>
    <p>
      <img
        src="{{ url_for('.static', filename='images/map-marker.svg') }}"
        alt="map-marker"
        height="20"
        width="20"
      />
      Address: {{ sight.address }}
    </p>
  </div>

  <div class="map">
    <iframe
      src="{{ sight.google_maps_url }}"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

<div class="button-container">
  <a href="{{ url_for('sight.sights') }}"
    ><button class="back-button">Back</button></a
  >
</div>

<!-- Javascript for button-left and button-right -->

<script>
  var images = {{ images | safe }};
  var index1 = 0;
  var index2 = 1;

  showImage(0);
</script>

<!-- Javascript for popup -->
<script>
  document.getElementById("popup-background").addEventListener("click", function(event) {
    if (event.target === document.getElementById("popup-background")) {
      closePopup("{{ url_for('sight.add_to_visited_list', sight_id=sight.id, next=url_for('sight.sight_details', sight_id=sight.id)) }}");
    }
  });
</script>
{% endblock %}
