{% extends "base.html" %} {% block head %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/sights.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock %} {% block title %} Sights {% endblock %} {% block content %}
<div id="dark-overlay"></div>

<div id="img-backgroud"></div>

<div class="search-box">
  <div class="row">
    <input type="text" id="input-box" 
    placeholder="Search the category or sight name here" autocomplete="off">
    <a href="{{ url_for('sight.sight_category', category='') }}"><button class="search-button"><i class='bx bx-search'></i></button></a>
  </div>

  <div class="result-box"></div>
</div>

{% if message %}
  <div class="message">
    <h3> {{ message }} </h3>
  </div>
{% endif %}

{% if message %}
  <div class="back-button-container">
    <a href="{{ url_for('sight.sights') }}">
      <button class="back-button">Back</button>
    </a>
  </div>
{% endif %}

{% for i in range(0, sights|length, 3) %}

    <div class="container" style="display: {{ 'block' if loop.index <= 3 else 'none' }};">
      <div class="sights">

        {% for sight in sights[i:i+3] %}
          <a class="sight-link" href="{{ url_for('sight.sight_details', sight_id=sight.id) }}">
            <div class="sight-item">
              <img class="sight-photo" src="{{ url_for('static', filename='images/sight/' + sight.photos[0]) }}" alt="{{ sight.name }}" />
                <h3> {{ sight.name }} </h3>
                <div class="info sight-info">
                  <h5>
                    {% if sight.visited == 0 %}
                      No people visited this sight yet
                    {% elif sight.visited == 1 %}
                      1 person visited this sight
                    {% else %}
                      {{ sight.visited }} people visited this sight
                    {% endif %}
                  </h5>
                  <h5>
                    {% for sight_type in sight.sight_types %}
                      <span class="sight-type"> {{ sight_type }} </span>
                    {% endfor %}
                  </h5>
                  <h5> {{ sight.age_category }} </h5>
                </div>
            </div>
          </a>
        {% endfor %}

      </div>
    </div>
  
{% endfor %}

{% if sights|length > 9 %}

  <div class="button-container">

    <button class="bn" onclick="previousPage();"> Previous </button>

    {% for i in range(0, sights|length, 9) %}
      <button class="pagination-button {{ 'pagination-button-active' if loop.index == 1 else '' }}" onclick="switchPage({{ loop.index }});"> {{ loop.index }} </button>
    {% endfor %} 

    <button class="bn" onclick="nextPage();"> Next </button>

  </div>

{% endif %}

<script src="{{ url_for('.static', filename='js/pagination.js') }}"> </script>
<script src="{{ url_for('.static', filename='js/search.js') }} "> </script>

<script>

  initKeywords("{{ sight_type_names|join(',') }}")

  document.querySelector('.search-button').addEventListener('click', function(event) {
    event.preventDefault();
    var inputBoxValue = document.querySelector('#input-box').value;
    var newHref = "{{ url_for('sight.sight_category', category='') }}" + inputBoxValue;
    window.location.href = newHref;
  });

</script>

{% endblock %}
