{% extends "base.html" %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/sights.css') }}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %} 

{% block title %} Sights {% endblock %} 

{% block content %}
<div id="dark-overlay"></div>

<div id="img-backgroud"></div>



<div class="search-box">
    <div class="row">
        <input type="text" id="input-box" value="{{ user_input if user_input is not none else '' }}" 
        placeholder="Search the category or sight name here" autocomplete="off">
        <a href="{{ url_for('sight.sight_by_everything', category='' ,age='', user_input='') }}"><button class="search-button"><i class='bx bx-search'></i></button></a>
    </div>
    
    <div class="result-box"></div>
</div>

<div class="choose-age-container">
    <label for="age">Please select age group:</label>
    <!-- ages is always selected, either "all" or other age categories -->
    <select id="age" name="age">
        <option value="All ages">All</option>
        <option value="Family-friendly">Family-friendly</option>
        <option value="Children (0-12 years)">0 - 12</option>
        <option value="Teenagers (13-19 years)">13 - 19</option>
        <option value="Young Adults (20-30 years)">20 - 30</option>
        <option value="Adults (31-60 years)">31 - 60</option>
        <option value="Seniors (60+ years)">60+</option>
    </select>
</div>


<div>
    <select id="category_id" name="category_id">
        {% for category in categories %}
            <option value="{{category.name}}"> {{category.name}} </option>
        {% endfor %}
    </select>
</div>



{% if message %}
  <div class="message">
    <h3> {{ message }} </h3>
  </div>
{% endif %}

{% if message %}
  <div class="back-button-container">
    <a href="{{ url_for('sight.sights') }}">
      <button class="back-button">Back</button>
    </a>
  </div>
{% endif %}

{% for i in range(0, sights|length, 3) %}

    <div class="container" style="display: {{ 'block' if loop.index <= 3 else 'none' }};">
      <div class="sights">

        {% for sight in sights[i:i+3] %}
          <a class="sight-link" href="{{ url_for('sight.sight_details', sight_id=sight.id) }}">
            <div class="sight-item">
              <img class="sight-photo" src="{{ url_for('static', filename='images/sight/' + sight.photos[0]) }}" alt="{{ sight.name }}" />
              <h3> {{ sight.name }} </h3>
              
                <div class="wishlist-and-visted-container">
                  {% if user_wishlist %}
                    {% if sight.id in user_wishlist %}
                      <i class='bx bx-bookmark mark-blue' >In wishlist</i>
                    {% endif %}
                  {% endif %}

                  {% if user_visited_list %}
                    {% if sight.id in user_visited_list %}
                      <i class='bx bx-check-circle check-green' >Visited</i>
                    {% endif %}
                  {% endif %}

                  {% if statistics %}
                    <div class="statistic-container">
                      {% for statistic in statistics %}
                        {% if statistic.sight_id == sight.id %}
                          <p><i class='bx bx-like'></i> {{ statistic.liked }}</p>
                          <p><i class='bx bx-dislike'></i> {{ statistic.disliked }}</p>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>

                <div class="info sight-info">
                  <h5>
                    {% if sight.visited == 0 %}
                      No people visited this sight yet
                    {% elif sight.visited == 1 %}
                      1 person visited this sight
                    {% else %}
                      {{ sight.visited }} people visited this sight
                    {% endif %}
                  </h5>
                  <h5>
                    {% for sight_type in sight.sight_types %}
                      <span class="sight-type"> {{ sight_type }} </span>
                    {% endfor %}
                  </h5>
                  <h5> {{ sight.age_category }} </h5>
                </div>
            </div>
          </a>
        {% endfor %}

      </div>
    </div>
  
{% endfor %}

{% if sights|length > 9 %}

  <div class="button-container">

    <button class="bn" onclick="previousPage();"> Previous </button>

    {% for i in range(0, sights|length, 9) %}
      <button class="pagination-button {{ 'pagination-button-active' if loop.index == 1 else '' }}" onclick="switchPage({{ loop.index }});"> {{ loop.index }} </button>
    {% endfor %} 

    <button class="bn" onclick="nextPage();"> Next </button>

  </div>

{% endif %}

<script src="{{ url_for('.static', filename='js/pagination.js') }}"> </script>
<script src="{{ url_for('.static', filename='js/search.js') }}"> </script>
<script src="{{ url_for('.static', filename='js/select-age.js') }}"> </script>
<script>
  initKeywords("{{ sight_type_names|join(',') }}" + "," + "{{ sight_names|join(',') }}");

  var url = {
    
    sight_category: "{{ url_for('sight.sight_by_everything', category='category_id', age='_age_', user_input='_user_input_') }}"


  };
</script>
{% endblock %}
